################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/13LAM/FileContentIndex/6dbd1143-af9b-418d-8ef1-ad8a0750e7b7.vsidx
